.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #fff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 70%; */

    padding: 1.5rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    

  }
  
  @media only screen and (min-width: 768px) {
    .form {
      max-width: 50%;
    }
    
  }
  
  .h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .label {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #0050b3;
  }
  .inputWithIcon {
    position: relative;
  }
  
  
  
  .inputWithIcon i {
    position: absolute;
    right: 0.75rem; /* adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.2rem;
  }
  .styles.link{
    text-decoration: none !important;
  }
  .error{
    /* background-color: red; */
    text-align: center;
    color: red;
  }
  .iconSpace{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .iconSpace a{
      text-decoration: none;
      color:#909394;
      font-weight: 400;
  }

  .successMsg {
    color: #270;
    background-color: #DFF2BF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin: 10px auto; /* Center the message horizontally */
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    max-width: 100%; /* Limit the width to the container's width */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  
  
  